body{
    margin: 0%;
    
    
}
.add-modal{
    visibility: hidden;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color:#96ADCF;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px;
    
}
.footer{
    display: flex;
    justify-content: center;
    
    background-color: #1F2937;
    color:#96ADCF;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px 0px;
}